<nav class="ui inverted menu">
    <header class="ui header item"><a href="/">Console Archive</a></header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/dashboard">Dashboard</a>
        <a id="about" class="item" href="/about">About</a>
    </div>
</nav>